:root {
  --preach--base: #f9f9fb;
  --preach--surface: #edeef2;
  --preach--overlay: #e1e3ea;
  --preach--muted: #8890aa;
  --preach--subtle: #555d77;
  --preach--text: #2a2e3c;
  --preach--accent: #d1e16a;
  --preach--text-on-accent: #254e34;
  --preach--success: #233805;
  --preach--success-light: #d8f5a2;
  --preach--error: #761919;
  --preach--error-light: #ffc9c9;
  --preach--warning: #7a3f00;
  --preach--warning-light: #ffec99;
  --preach--info: #213078;
  --preach--info-light: #bac8ff;
  --preach--neutral: #505963;
  --preach--neutral-light: #e9ecef;
}
