:root {
  /* -- Theme-Specific Variables -- */

  /* Light Theme */
  --preach-light-background: #f8f8f8;
  --preach-light-subtle: #f1f1f1;
  --preach-light-element: #e7e7e7;
  --preach-light-border: #c4c4c4;
  --preach-light-muted: #5a5a5a;
  --preach-light-text: #202020;
  --preach-light-accent: #e4d86c;
  --preach-light-accent-hover: #d9cd62;
  --preach-light-accent-border: #c1ba78;
  --preach-light-accent-element: #f0edc9;
  --preach-light-text-on-accent: #25220a;
  --preach-light-success: #aece6c;
  --preach-light-success-hover: #a4c362;
  --preach-light-success-border: #a6bc7e;
  --preach-light-success-element: #e4edd6;
  --preach-light-text-on-success: #1d250e;
  --preach-light-error: #d0484d;
  --preach-light-error-hover: #c13940;
  --preach-light-error-border: #ea9f9b;
  --preach-light-error-element: #f6e3e1;
  --preach-light-text-on-error: #ffffff;
  --preach-light-warning: #d18d56;
  --preach-light-warning-hover: #c5824a;
  --preach-light-warning-border: #e2a87b;
  --preach-light-warning-element: #f7e4d6;
  --preach-light-text-on-warning: #ffffff;
  --preach-light-info: #348bce;
  --preach-light-info-hover: #247ec0;
  --preach-light-info-border: #88bceb;
  --preach-light-info-element: #dfebf6;
  --preach-light-text-on-info: #ffffff;

  /* Dark Theme */
  --preach-dark-background: #1b1c1c;
  --preach-dark-subtle: #222323;
  --preach-dark-element: #2b2b2b;
  --preach-dark-border: #4b4d4d;
  --preach-dark-muted: #b2b4b4;
  --preach-dark-text: #edeeee;
  --preach-dark-accent: #c8c17f;
  --preach-dark-accent-hover: #bdb675;
  --preach-dark-accent-border: #59552f;
  --preach-dark-accent-element: #2d2c22;
  --preach-dark-text-on-accent: #25220a;
  --preach-dark-success: #b2c88a;
  --preach-dark-success-hover: #a8bd80;
  --preach-dark-success-border: #525d3d;
  --preach-dark-success-element: #2a2d24;
  --preach-dark-text-on-success: #1e250e;
  --preach-dark-error: #ee908d;
  --preach-dark-error-hover: #e28583;
  --preach-dark-error-border: #804241;
  --preach-dark-error-element: #3c1f1e;
  --preach-dark-text-on-error: #102334;
  --preach-dark-warning: #d18d56;
  --preach-dark-warning-hover: #c4824a;
  --preach-dark-warning-border: #6c4d34;
  --preach-dark-warning-element: #332921;
  --preach-dark-text-on-warning: #ffffff;
  --preach-dark-info: #8fc4f3;
  --preach-dark-info-hover: #85b9e8;
  --preach-dark-info-border: #33658f;
  --preach-dark-info-element: #172f43;
  --preach-dark-text-on-info: #102334;

  /* -- Adaptive Variables (Default to Light) -- */
  --preach-background: var(--preach-light-background);
  --preach-subtle: var(--preach-light-subtle);
  --preach-element: var(--preach-light-element);
  --preach-border: var(--preach-light-border);
  --preach-muted: var(--preach-light-muted);
  --preach-text: var(--preach-light-text);
  --preach-accent: var(--preach-light-accent);
  --preach-accent-hover: var(--preach-light-accent-hover);
  --preach-accent-border: var(--preach-light-accent-border);
  --preach-accent-element: var(--preach-light-accent-element);
  --preach-text-on-accent: var(--preach-light-text-on-accent);
  --preach-success: var(--preach-light-success);
  --preach-success-hover: var(--preach-light-success-hover);
  --preach-success-border: var(--preach-light-success-border);
  --preach-success-element: var(--preach-light-success-element);
  --preach-text-on-success: var(--preach-light-text-on-success);
  --preach-error: var(--preach-light-error);
  --preach-error-hover: var(--preach-light-error-hover);
  --preach-error-border: var(--preach-light-error-border);
  --preach-error-element: var(--preach-light-error-element);
  --preach-text-on-error: var(--preach-light-text-on-error);
  --preach-warning: var(--preach-light-warning);
  --preach-warning-hover: var(--preach-light-warning-hover);
  --preach-warning-border: var(--preach-light-warning-border);
  --preach-warning-element: var(--preach-light-warning-element);
  --preach-text-on-warning: var(--preach-light-text-on-warning);
  --preach-info: var(--preach-light-info);
  --preach-info-hover: var(--preach-light-info-hover);
  --preach-info-border: var(--preach-light-info-border);
  --preach-info-element: var(--preach-light-info-element);
  --preach-text-on-info: var(--preach-light-text-on-info);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* -- Adaptive Variables (Override to Dark) -- */
    --preach-background: var(--preach-dark-background);
    --preach-subtle: var(--preach-dark-subtle);
    --preach-element: var(--preach-dark-element);
    --preach-border: var(--preach-dark-border);
    --preach-muted: var(--preach-dark-muted);
    --preach-text: var(--preach-dark-text);
    --preach-accent: var(--preach-dark-accent);
    --preach-accent-hover: var(--preach-dark-accent-hover);
    --preach-accent-border: var(--preach-dark-accent-border);
    --preach-accent-element: var(--preach-dark-accent-element);
    --preach-text-on-accent: var(--preach-dark-text-on-accent);
    --preach-success: var(--preach-dark-success);
    --preach-success-hover: var(--preach-dark-success-hover);
    --preach-success-border: var(--preach-dark-success-border);
    --preach-success-element: var(--preach-dark-success-element);
    --preach-text-on-success: var(--preach-dark-text-on-success);
    --preach-error: var(--preach-dark-error);
    --preach-error-hover: var(--preach-dark-error-hover);
    --preach-error-border: var(--preach-dark-error-border);
    --preach-error-element: var(--preach-dark-error-element);
    --preach-text-on-error: var(--preach-dark-text-on-error);
    --preach-warning: var(--preach-dark-warning);
    --preach-warning-hover: var(--preach-dark-warning-hover);
    --preach-warning-border: var(--preach-dark-warning-border);
    --preach-warning-element: var(--preach-dark-warning-element);
    --preach-text-on-warning: var(--preach-dark-text-on-warning);
    --preach-info: var(--preach-dark-info);
    --preach-info-hover: var(--preach-dark-info-hover);
    --preach-info-border: var(--preach-dark-info-border);
    --preach-info-element: var(--preach-dark-info-element);
    --preach-text-on-info: var(--preach-dark-text-on-info);
  }
}
